### In this project, we will be using data from an online music store to predicting newly signed up users music preference. This is done based on the profile of the the existing users, we build a model that learn the patterns in the data to make predictions for newly signed up users. Based on the prediction of the model, we can make suggestions to the new users. The first step to take is to import the data, prepare or clean the data, split the data into training and test sets, create a model, train the model, ask the model to make predictions and finally evaluate to test its accuracy.

### Importing data

In [29]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn import tree

In [13]:
music_data = pd.read_csv(r'C:\Users\Modupe Olayinka\Desktop\dataset\music.csv')
music_data

    age  gender      genre
0    20       1     HipHop
1    23       1     HipHop
2    25       1     HipHop
3    26       1       Jazz
4    29       1       Jazz
5    30       1       Jazz
6    31       1  Classical
7    33       1  Classical
8    37       1  Classical
9    20       0      Dance
10   21       0      Dance
11   25       0      Dance
12   26       0   Acoustic
13   27       0   Acoustic
14   30       0   Acoustic
15   31       0  Classical
16   34       0  Classical
17   35       0  Classical

In [14]:
X = music_data.drop(columns=['genre'])
X

    age  gender
0    20       1
1    23       1
2    25       1
3    26       1
4    29       1
5    30       1
6    31       1
7    33       1
8    37       1
9    20       0
10   21       0
11   25       0
12   26       0
13   27       0
14   30       0
15   31       0
16   34       0
17   35       0

In [15]:
y = music_data['genre']
y

0        HipHop
1        HipHop
2        HipHop
3          Jazz
4          Jazz
5          Jazz
6     Classical
7     Classical
8     Classical
9         Dance
10        Dance
11        Dance
12     Acoustic
13     Acoustic
14     Acoustic
15    Classical
16    Classical
17    Classical
Name: genre, dtype: object

### Building the model using Decision Tree

In [19]:
model = DecisionTreeClassifier()
model.fit(X, y)
predictions = model.predict([ [21, 1], [22, 0] ])
predictions

array(['HipHop', 'Dance'], dtype=object)

###  Split the data into training and test sets and measuring the accuracy.

In [25]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2)

In [27]:
model.fit(X_train, y_train)
predictions = model.predict(X_test)

score = accuracy_score(y_test, predictions)
score

0.75

#### *this shows that the model is 75% accurate.

In [33]:
from sklearn import tree

In [35]:
tree.export_graphviz(model, 
                     feature_names=['age', 'gender'],
                     class_names=sorted(y.unique()), 
                     label='all', 
                     rounded=True, 
                     filled=True)

'digraph Tree {\nnode [shape=box, style="filled, rounded", color="black", fontname=helvetica] ;\nedge [fontname=helvetica] ;\n0 [label="age <= 30.5\\ngini = 0.778\\nsamples = 18\\nvalue = [3, 6, 3, 3, 3]\\nclass = Classical", fillcolor="#e5fad7"] ;\n1 [label="age <= 25.5\\ngini = 0.75\\nsamples = 12\\nvalue = [3, 0, 3, 3, 3]\\nclass = Acoustic", fillcolor="#ffffff"] ;\n0 -> 1 [labeldistance=2.5, labelangle=45, headlabel="True"] ;\n2 [label="gender <= 0.5\\ngini = 0.5\\nsamples = 6\\nvalue = [0, 0, 3, 3, 0]\\nclass = Dance", fillcolor="#ffffff"] ;\n1 -> 2 ;\n3 [label="gini = 0.0\\nsamples = 3\\nvalue = [0, 0, 3, 0, 0]\\nclass = Dance", fillcolor="#39e5c5"] ;\n2 -> 3 ;\n4 [label="gini = 0.0\\nsamples = 3\\nvalue = [0, 0, 0, 3, 0]\\nclass = HipHop", fillcolor="#3c39e5"] ;\n2 -> 4 ;\n5 [label="gender <= 0.5\\ngini = 0.5\\nsamples = 6\\nvalue = [3, 0, 0, 0, 3]\\nclass = Acoustic", fillcolor="#ffffff"] ;\n1 -> 5 ;\n6 [label="gini = 0.0\\nsamples = 3\\nvalue = [3, 0, 0, 0, 0]\\nclass = Acoustic", fillcolor="#e58139"] ;\n5 -> 6 ;\n7 [label="gini = 0.0\\nsamples = 3\\nvalue = [0, 0, 0, 0, 3]\\nclass = Jazz", fillcolor="#e539c0"] ;\n5 -> 7 ;\n8 [label="gini = 0.0\\nsamples = 6\\nvalue = [0, 6, 0, 0, 0]\\nclass = Classical", fillcolor="#7be539"] ;\n0 -> 8 [labeldistance=2.5, labelangle=-45, headlabel="False"] ;\n}'